.card-header{
    margin: 0 auto;
}
.app-sidebar .logo-img{
    width: 48px;
}
.card-filter{
    border: 1px #ccc solid;
    padding: 20px;
    border-radius: 5px;
}
.required{
    color: #f41313;
    font-weight: normal;
}